#C++
*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.lai
*.la
*.a
*.lib
*.exe
*.out

#CMake
cmake-build*

#Windows
Thumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/
*.lnk

#macOS
.DS_Store
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

#Linux
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

#CLion
.idea

#Xcode
xcuserdata
contents.xcworkspacedata
*.xccheckout
*.xcscmblueprint
*.xcodeproj
*.xcworkspace
*.mode1v3
*.pbxuser
*.perspectivev3

#Visual Studio
*.user
*.ncb
*.suo
*.ilk
*.pdb
*.dep
*.idb
*.manifest
*.manifest.res
*.sdf
*.opensdf
*.VC.db
*.VC.opendb
.vs/
.vscode/
.cache/
